<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106873894-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-106873894-2');
	</script>

	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="index,follow">

	<!-- LINKS -->
	<link href="https://fonts.googleapis.com/css?family=Slabo+13px|Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./style/main.css">

	<title>Song Box</title>

	<meta name="description" content="Convert Your favorite Spotify playlists to Youtube videos playlists">
	<meta name="keywords" content="Spotify to Youtube, Playlist Converter, Youtube, Spotify, Music, Convert, Playlist">
	<meta name="author" content="Samuel Gomez Palomäki">
	<script>
		  // Inspired by the work of Matthew Rayfield
			function loop() {
    		var i, n, s = '';

    		for (i = 0; i < 10; i++) {
        	n = Math.floor(Math.sin((Date.now()/200) + (i/2)) * 4) + 4;

        	s += String.fromCharCode(0x2581 + n);
    		}

    	window.location.hash = s;

    	setTimeout(loop, 50);
  	};
  
  	window.addEventListener('load', loop);
	</script>

</head>
<body>




	<div id="app"></div>
	<div id="player"></div>


	<script src="https://unpkg.com/react@16.0.0/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.development.js"></script>
	<script type="text/javascript" src="./script/js/scripts.bundle.js"></script>
</body>
</html>
