<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./style/main.css">
	<title>Music Box</title>
</head>
<body>
	<div id="player"></div>


	<script type="text/javascript" src="./script/video.js"></script>
</body>